<!DOCTYPE html>
<html lang="en">

<head>
    <title> One Day Project </title>
    <!-- custom css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- custom js -->
    <script src="/js/script.js"></script>

</head>

<body>

    <div class="container-fluid justify-content-center align-items-center" id="wrapper">
        <!-- header  -->
        <div class="row ">
            <div class="header align-items-center">
                <div class="header-img">
                    <img src="images/logo.jpg" alt="logo" heignt="130px" width="130px">
                </div>

                <div class="header-title">
                    <h1>One Day Project</h1>
                </div>
            </div>

        </div>

        <!-- main content -->
        <div class="container content">
            <div class="row">

                <div class="row">

                    <div class="row">
                        <form action="/date" method="get"> 
                            <label class="dateLabel" for="selectDate"> Select date: </label>
                            <input class="dateInput" type="date" id="selectedDate" name="Date" max=""  required>
                            <button type="submit" class="btn"> Submit </button>
                        </form>
                    </div>


                    <div class="container main-content-title">
                        <div class="col title-col">
                            

                            <% if (data) { %>
                                <h2>Astronomy Picture Of the Day</h2>
                                <div class="">
                                    <h3><%= data.title %></h3>
                                    <p> <%= data.date %> </p>
                                    <img src="<%= data.url %>" alt="image from NASA">
                                    <p> <%= data.explanation %> </p>
                                </div>
                                <% } %>
                        </div>
                        <div class="col title-col">
                            <% if (data) { %>
                            <h2>On This Day</h2>
                            <div class="">
                                
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>


            </div>

        </div>

</body>

</html>